
.book-title {
  display: inline-block;
  background: #fff;
  border-radius: 4px;
  color: #015aff;
  border: 1px solid #015aff;
  height: 22px;
  line-height: 19px;
  padding: 0 10px;
  font-size: 15px;
  letter-spacing: 0;
}