.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: inline-block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $palatino;
    letter-spacing: .5px;
  }

  &-info {
    display: flex;
    align-items: center;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-font;
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0;
  }

  &-link {
    color: $default-color;
    padding: 2rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }

  &-author {
    color: $default-tint;
    font-family: $palatino;
    margin-left: .5rem;
    display: flex;
    align-items: center;

    &-profile {
      border-radius: 50%;
      display: inline-block;
      margin: 0 .5rem 0 0;
    }
  }

  .tag {
    display: inline-block;
    height: 20px;
    padding: 0 8px;
    background: #999;
    border-radius: 1px;
    font-size: 13px;
    color: #fff;
  }
}
