.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $palatino;
    letter-spacing: .5px;
    text-align: right;
    margin-top: 2rem;

    span {
      font-style: italic;
    }

    .catalogue-author {
      justify-content: flex-end;

      &-profile {
        margin-left: .5rem;
      }
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-font;
    font-size: 4rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: .4rem solid $default-shade;
    display: block;
    margin: 0 auto 2rem;
    width: 4rem;
  }

  &-tags {
    margin: 0 auto 2rem;
    text-align: right;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }
}
